<div class="contanct-contact-mailout-subscribe-block__wrapper">
  <div class="description">
    {{ data.description|raw }}
  </div>
<div class="contanct-contact-mailout-subscribe-form-wrapper">
    {{ subscribe_block_form }}
  </div>
</div>
<script id="MessageTemplate" type="text/x-jquery-tmpl">
  <div role="contentinfo" aria-label="Status message" class="messages messages--${type}">
    <div class="messages__message">{{ '{{html message}}' }}</div>
  </div>
</script>
