<div class="contanct-contact-mailout-subscribe-block__wrapper">
  <div class="description">
    {{ data.description|raw }}
  </div>
<div class="contanct-contact-mailout-subscribe-form-wrapper">
    {{ subscribe_block_form }}
  </div>
</div>
